a {
    color: #000000;
    transition: color 300ms ease-out;
}

    a:hover {
        color: #F1562A;
        text-decoration: none;
        transition: color 300ms ease-out;
    }

.my-border {
    border: 1px solid red;
}

/* Shared Layout */
.upper-header {
    background-color: #F7F9FA;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

.logo-img {
    margin: 15px 5px;
    height: 47px;
}

.logo-title {
    padding-left: 10px;
    font: bold 1.1em Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.logged-user {
    font: 1em Arial, Helvetica, sans-serif;
    text-transform: none;
}

    .logged-user img {
        height: 20px;
    }

.user-menu {
    list-style-type: none;
    font: 1.1em Arial, Helvetica, sans-serif;
    position: absolute;
    top: 75px;
    right: 15px;
    text-align: start;
    background-color: #F7F9FA;
    padding: 5px 20px 20px 20px;
    display: none;
}

.user-menu-line {
    background-color: #000000;
    width: 75px;
    height: 1px;
    display: block;
    margin: 15px 0px;
}

.login {
    padding: 29px;
    font: 0.8em Arial, Helvetica, sans-serif;
    text-align: end;
    text-transform: capitalize;
}

.donate-now {
    padding: 32px;
    font: bold 0.8em Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
    background-color: #F1562A;
    transition: background-color 400ms ease-out;
}

    .donate-now:hover {
        background-color: #000000;
        transition: background-color 400ms ease-out;
    }

    .donate-now a {
        color: #FFFFFF;
    }

.menu-overflow {
    padding: 32px;
    font: bold 0.8em Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
    background-color: #000000;
}

    .menu-overflow a {
        color: #FFFFFF;
    }

        .menu-overflow a:hover {
            color: #F1562A;
        }

    .menu-overflow img {
        margin-left: 20px;
    }

#body-content {
    margin-top: 78px;
}

/* Login Page */
.login-content {
    margin: 50px 15px;
}

.login-user {
    font: bold 3em Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 15px;
}

.new-user {
    padding: 15px 0px 60px 0px;
    font: 1em Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

    .new-user a {
        padding-left: 5px;
        color: #F1562A;
    }

        .new-user a:hover {
            text-decoration: none;
        }

.user-input input {
    width: 330px;
    border: none;
    box-shadow: none;
}

.user-input label {
    position: absolute;
    width: 330px;
    pointer-events: none;
    transition: 0.5s;
    text-transform: capitalize;
    font: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.user-input input:focus + label,
.user-input input:valid + label {
    transform: translateY(-35px);
    font-size: 12px;
}

.input-line {
    padding-bottom: 60px;
}

    .input-line span {
        width: 330px;
        background-color: #000000;
        height: 1px;
    }

#password-line {
    height: 0.5px;
}

.user-login-error {
    position: absolute;
    left: 425px;
    top: 295px;
    color: #DC3545;
}

.pass-login-error {
    position: absolute;
    top: 385px;
    left: 425px;
    color: #DC3545;
}

.forgot-pass {
    width: 330px;
    color: #000000;
    text-decoration: underline;
}

    .forgot-pass:hover {
        color: #000000;
        text-decoration: underline;
    }

.login-btn {
    padding-top: 10px;
}

    .login-btn input {
        width: 330px;
        height: 50px;
        text-transform: capitalize;
        background-color: #F1562A;
        color: #FFFFFF;
        border: none;
    }

        .login-btn input:hover {
            opacity: 0.7;
            transition: opacity 400ms ease-out;
        }

/* Menu Page */
.menu-content {
    margin: 30px 15px;
}

.menu-logo {
    margin-left: 30px;
}

.menu {
    font: bold 1.8em Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

    .menu li {
        display: inline-block;
        padding: 5px 25px;
    }

        .menu li ul {
            width: 300px;
            position: absolute;
            text-align: center;
            top: 190px;
            right: 190px;
            display: none;
        }

        .menu li:hover ul {
            display: block;
        }

.donate-btn {
    margin-top: 30px;
    width: 250px;
    height: 45px;
    text-transform: capitalize;
    background-color: #F1562A;
    color: #FFFFFF;
    border: none;
    font: bold 0.8em Arial, Helvetica, sans-serif;
    transition: background-color 400ms ease-out;
}

    .donate-btn:hover {
        background-color: #000000;
        transition: background-color 400ms ease-out;
    }

/* SignUp Page */
.sign-user {
    font: bold 3em Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding-bottom: 30px;
}

.txt {
    border: none;
    box-shadow: none;
    width: 250px;
}

.line {
    width: 250px;
    background-color: #000000;
    height: 1px;
    margin-bottom: 50px;
}

#fname-line, #age-line, #address-line, #username-line {
    height: 0.5px;
}

.error-message {
    position: absolute;
    top: 740px;
    left: 460px;
    font: 1em Arial, Helvetica, sans-serif;
    color: #DC3545;
}

.signup-btn {
    width: 250px;
    height: 50px;
    text-transform: capitalize;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
}

.login-link {
    font: bold 1em Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    padding: 4px 5px;
}

    .login-link:hover {
        color: #000000;
    }

/* Admin Page */
.admin-menu {
    font: bold 1.8em Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 25px 0px 20px 0px;
}

/* User Page*/
.user-info-container {
    margin-top: 75px;
}

.user-avatar {
    width: 250px;
    height: 258px;
    text-align: center;
    padding: 35px 25px;
    margin: 50px 15px 0px 0px;
}

    .user-avatar img {
        width: 80px;
        height: 80px;
    }

.user {
    margin-top: 10px;
    font: 1em Arial, Helvetica, sans-serif;
}

.role {
    margin: 5px 0px 20px 0px;
    font: 0.7em Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}

.user-info {
    padding: 80px 130px 80px 20px;
}

    .user-info h2 {
        font: bold 1.5em Arial, Helvetica, sans-serif;
        text-transform: capitalize;
    }

    .user-info p {
        font: 0.9em Arial, Helvetica, sans-serif;
    }

.update-btn {
    text-transform: capitalize;
    background-color: #F1562A;
    color: #FFFFFF;
    border: none;
    height: 40px;
    display: none;
}

    .update-btn:hover {
        opacity: 0.7;
        transition: opacity 400ms ease-out;
    }

/* Home Page */
.carousel-inner img {
    width: 100%;
    height: 642px;
}

.statistics {
    padding: 130px 0;
}

.stat-number {
    font: 900 7.7em Arial, Helvetica, sans-serif;
    color: #F1562A;
}

.stat-label {
    font: 600 2.3em Arial, Helvetica, sans-serif;
}

/* About Page */
.banner {
    width: 100%;
    height: 642px;
}

.privacy-policy-card {
    padding: 100px 120px;
}

.privacy-policy-title {
    font: 900 3.8em Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.privacy-policy-content {
    padding: 100px 130px 0 0;
    letter-spacing: 0.02em;
}

/* Services */
.procedure-title {
    font: 900 3.3em Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.procedure li {
    padding: 15px 0;
}

.benefits-card {
    padding: 50px 120px;
}

/* Contact */
.contact-media-card {
    height: 100px;
    width: 106px;
    align-self: center;
}

.contact-media-image {
    padding-top: 25px;
}