
@{
    ViewBag.Title = "About Us";
}

<div>
    <img src="~/images/about_us.jpg" alt="about_us.jpg" class="banner" />
</div>
<div class="card-group">
    <div class="card border-0">
        <div class="card-title privacy-policy-card">
            privacy & policy<span class="dot">.</span>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body privacy-policy-content">
            <p>Praesent lacus purus, hendrerit eu fringilla eget, scelerisque ornare urna. Maecenas sit amet cursus ligula. Nam non nisi id quam luctus ullamcorper ut vel velit. In congue gravida lorem a dictum. Nunc ornare vestibulum ultricies. Duis dictum id ex ac interdum. Cras massa augue, ornare sed sodales nec, sagittis sed sapien. Nam fringilla sit amet lectus efficitur maximus. Duis vestibulum massa ut mollis vulputate. Duis et cursus leo. Quisque consectetur hendrerit ligula, vel tincidunt urna. Etiam accumsan, ipsum id accumsan rhoncus, nisl libero pulvinar erat, pharetra rhoncus risus erat in urna.</p>
            <p>Phasellus ligula velit, maximus ut massa eget, elementum placerat diam. Phasellus dignissim egestas mollis. Sed ut efficitur risus. Nullam et convallis lorem. Phasellus turpis purus, blandit at mollis vitae, tempus quis velit. Integer ullamcorper, sem quis venenatis elementum, est lorem mollis elit, vitae tristique ipsum odio et enim. Integer tristique tristique dictum. In aliquam neque vel sem feugiat, eget luctus urna bibendum. Integer ac turpis tellus. Proin vel convallis turpis, id molestie elit. Fusce tempus sit amet est eu tempus.</p>
        </div>
    </div>
</div>
<div class="card border-0">
    <div class="card-title privacy-policy-card">
        gallery<span class="dot">.</span>
    </div>
</div>
<div class="card-group">
    <div class="card bg-primary">
        <div class="card-body text-center">
            <p class="card-text">Some text inside the first card</p>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body text-center">
            <p class="card-text">Some text inside the second card</p>
        </div>
    </div>
    <div class="card bg-success">
        <div class="card-body text-center">
            <p class="card-text">Some text inside the third card</p>
        </div>
    </div>
    <div class="card bg-danger">
        <div class="card-body text-center">
            <p class="card-text">Some text inside the fourth card</p>
        </div>
    </div>
    <div class="card bg-danger">
        <div class="card-body text-center">
            <p class="card-text">Some text inside the fourth card</p>
        </div>
    </div>
</div>
<div class="card border-0">
    <div class="card-title privacy-policy-card">
        hospitals<span class="dot">.</span>
    </div>
</div>
<div class="card-group hospital-group">
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="http://www.adhb.health.nz/"><img src="~/images/hopitals/01.png" alt="adhb.png" class="adhb-img" /></a>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="https://www.nmdhb.govt.nz/"><img src="~/images/hopitals/02.png" alt="nmdhb.png" class="nmdhb-img" /></a>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="https://www.bopdhb.govt.nz/"><img src="~/images/hopitals/03.png" alt="bobdhb.png" class="bobdhb-img" /></a>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="https://www.southerncross.co.nz/"><img src="~/images/hopitals/04.svg" alt="southern_cross.svg" class="southern-cross-img" /></a>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="https://www.starship.org.nz/"><img src="~/images/hopitals/05.png" alt="starship.png" class="starship-img" /></a>
        </div>
    </div>
</div>