
@{
    ViewBag.Title = "About Us";
}

<div>
    <img src="~/images/about_us.jpg" alt="about_us.jpg" class="banner" />
</div>
<div class="card-group">
    <div class="card border-0">
        <div class="card-title privacy-policy-card">
            <span class="privacy-policy-title">privacy & policy</span>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body privacy-policy-content">
            <p>Praesent lacus purus, hendrerit eu fringilla eget, scelerisque ornare urna. Maecenas sit amet cursus ligula. Nam non nisi id quam luctus ullamcorper ut vel velit. In congue gravida lorem a dictum. Nunc ornare vestibulum ultricies. Duis dictum id ex ac interdum. Cras massa augue, ornare sed sodales nec, sagittis sed sapien. Nam fringilla sit amet lectus efficitur maximus. Duis vestibulum massa ut mollis vulputate. Duis et cursus leo. Quisque consectetur hendrerit ligula, vel tincidunt urna. Etiam accumsan, ipsum id accumsan rhoncus, nisl libero pulvinar erat, pharetra rhoncus risus erat in urna.</p>
            <p>Phasellus ligula velit, maximus ut massa eget, elementum placerat diam. Phasellus dignissim egestas mollis. Sed ut efficitur risus. Nullam et convallis lorem. Phasellus turpis purus, blandit at mollis vitae, tempus quis velit. Integer ullamcorper, sem quis venenatis elementum, est lorem mollis elit, vitae tristique ipsum odio et enim. Integer tristique tristique dictum. In aliquam neque vel sem feugiat, eget luctus urna bibendum. Integer ac turpis tellus. Proin vel convallis turpis, id molestie elit. Fusce tempus sit amet est eu tempus.</p>
            <p>Praesent pulvinar euismod mattis. Cras id euismod velit. Etiam facilisis, est ac posuere porta, justo magna euismod nisi, at dapibus quam risus at sem. Phasellus eu risus ut nunc molestie condimentum. Nullam et efficitur lectus. Morbi vulputate, lectus nec facilisis consectetur, justo leo pulvinar odio, ullamcorper aliquam mi lacus ac sapien. Phasellus bibendum nisi quis sem aliquet, vel egestas nisi dictum. Suspendisse accumsan risus at arcu scelerisque iaculis. Sed ut tortor fermentum, gravida augue eu, lacinia libero. Morbi vulputate erat ac mi commodo, non porttitor neque luctus. Nulla molestie enim in luctus ultrices. Etiam consequat massa a nulla hendrerit blandit. Etiam ac tellus turpis. Duis porttitor scelerisque enim eget commodo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque convallis enim non luctus placerat.</p>
        </div>
    </div>
</div>