
@{
    ViewBag.Title = "About";
}

<div>
    <img src="~/images/about_us.jpg" alt="about_us.jpg" class="banner" />
</div>
<div class="banner-text">
    <div class="banner-separator"></div>about new <span class="banner-half-message">hope</span>
</div>
<div class="card-group">
    <div class="card border-0">
        <div class="card-title privacy-policy-card">
            privacy & policy<span class="dot">.</span>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body privacy-policy-content">
            <p>Your privacy is important to us. To better protect your privacy we provide this notice explaining our online information practices and the choices you can make about the way your information is collected and used. To make this notice easy to find, we make it available on our homepage and at every point where personally identifiable information may be requested.</p>
            <p>We use the information you provide about yourself when making a contribution only to complete that contribution. We do not share this information with outside parties except to the extent necessary to complete that contribution.</p>
            <p>To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.</p>
        </div>
    </div>
</div>
<div class="card border-0">
    <div class="card-title privacy-policy-card">
        gallery<span class="dot">.</span>
    </div>
</div>
<div class="card-group">
    <div class="card">
        <div class="card-img">
            <img src="~/images/gallery/01.jpg" alt="gallery_01" class="gallery-pic" />
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="~/images/gallery/02.jpg" alt="gallery_02" class="gallery-pic" />
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="~/images/gallery/03.jpg" alt="gallery_03" class="gallery-pic" />
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="~/images/gallery/04.jpg" alt="gallery_04" class="gallery-pic" />
        </div>
    </div>
    <div class="card">
        <div class="card-img">
            <img src="~/images/gallery/05.jpg" alt="gallery_05" class="gallery-pic" />
        </div>
    </div>
</div>
<div class="card border-0" id="hospital-bookmark">
    <div class="card-title privacy-policy-card">
        hospitals<span class="dot">.</span>
    </div>
</div>
<div class="card-group hospital-group">
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="http://www.adhb.health.nz/"><img src="~/images/hopitals/01.png" alt="adhb.png" class="adhb-img" /></a>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="https://www.nmdhb.govt.nz/"><img src="~/images/hopitals/02.png" alt="nmdhb.png" class="nmdhb-img" /></a>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="https://www.bopdhb.govt.nz/"><img src="~/images/hopitals/03.png" alt="bobdhb.png" class="bobdhb-img" /></a>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="https://www.southerncross.co.nz/"><img src="~/images/hopitals/04.svg" alt="southern_cross.svg" class="southern-cross-img" /></a>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body text-center">
            <a href="https://www.starship.org.nz/"><img src="~/images/hopitals/05.png" alt="starship.png" class="starship-img" /></a>
        </div>
    </div>
</div>