@{
    ViewBag.Title = "Home";
    ViewBag.ActionName = "Index";
    ViewBag.ControllerName = "Home";
}

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/carousel/blood_donation_01.jpg" alt="blood_donation_01" width="1100" height="500">
            <div class="carousel-caption">
                <div class="banner-separator"></div>anybody can <span class="banner-half-message">save lives</span>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel/blood_donation_02.jpg" alt="blood_donation_02" width="1100" height="500">
            <div class="carousel-caption">
                <div class="banner-separator"></div>bring a life <span class="banner-half-message">back to power</span>
            </div>
        </div>
        <div class="carousel-item">
            <img src="~/images/carousel/blood_donation_03.jpg" alt="blood_donation_03" width="1100" height="500">
            <div class="carousel-caption">
                <div class="banner-separator"></div>a bottle of <span class="banner-half-message">blood save life</span>
            </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<div class="row statistics">
    <div class="col">
        <div class="stat-number">10K</div>
        <div class="stat-label">Available Blood</div>
    </div>
    <div class="col">
        <div class="stat-number">800</div>
        <div class="stat-label">Blood Donors</div>
    </div>
    <div class="col">
        <div class="stat-number">140</div>
        <div class="stat-label">Blood Camps</div>
    </div>
    <div class="col">
        <div class="stat-number">40K</div>
        <div class="stat-label">Lives for Us to Protect</div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 about-card">
        <p class="card-body-title">About Last<br />Hope</p>
        <p class="card-body-content">This is just a temporary message that serves us a template which can be changed anytime.</p>
        <p>@Html.ActionLink("Learn More", "About", null, new { @class = "btn btn-outline-light" })</p>
    </div>
    <div class="col-lg-4 p-0">
        <img src="~/images/give_blood.jpeg" alt="give-blood" class="top-img" />
    </div>
    <div class="col-lg-4 blood-camp">
        <p class="card-body-title">Upcoming Blood Campaigns</p>
        <p class="card-body-content">This is just a temporary message that serves us a template which can be changed anytime.</p>
        <p>@Html.ActionLink("Learn More", "Services", "Home", null, null, "camps-bookmark", null, new { @class = "btn btn-outline-light" })</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 p-0">
        <img src="~/images/blood_donation_01.jpg" alt="blood_donation" class="mid-img" />
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col-12 services">
                <p class="services-card-title">How You Can Help</p>
                <p class="card-body-content">This is just a temporary message that serves us a template which can be changed anytime.</p>
                <p>@Html.ActionLink("Act Now", "Services", null, new { @class = "btn btn-outline-light" })</p>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-4 bottom-card-partners">
                    <p class="card-body-title">Get to Know Our Partners</p>
                    <p class="card-body-content">This is just a temporary message that serves us a template which can be changed anytime.</p>
                    <p>@Html.ActionLink("Our Partners", "About", "Home", null, null, "hospital-bookmark", null, new { @class = "btn btn-outline-light" })</p>
                </div>
                <div class="col-sm-8 p-0">
                    <img src="~/images/blood_donation_02.jpg" alt="blood_donation" class="bottom-img" />
                </div>
            </div>
        </div>
    </div>
</div>