
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_MenuLayout.cshtml";
}

<div class="row justify-content-center"><a href="@Url.Action("SignUp")"><input type="button" value="donate now" class="donate-btn"></a></div>