
@{
    ViewBag.Title = "Services";
}

<div>
    <img src="~/images/services.jpg" alt="services.jpg" class="banner" />
</div>
<div class="banner-text">
    <div class="banner-separator"></div>new hope <span class="banner-half-message">services</span>
</div>
<div class="card-group">
    <div class="card border-0">
        <div class="card-title privacy-policy-card">
            procedure<span class="dot">.</span>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body privacy-policy-content">
            <ol class="procedure">
                <li>You will be asked to show ID, such as your driver’s license and we will sign you in and go over basic eligibility. You will read some information about donating blood and we will ask you for your complete address. Your address needs to be complete (including PO Box, street/apartment number) and the place where you will receive your mail 8 weeks from donation.</li>
                <li>You will answer a few questions about your health history and places you’ve traveled, during a private and confidential interview. You will tell us about any prescription and/or over the counter medications that may be in your system. We will check your temperature, pulse, blood pressure and hemoglobin level.</li>
                <li>If you are donating whole blood, we will cleanse an area on your arm and insert a brand new sterile needle for the blood draw (This feels like a quick pinch and is over in seconds). Other types of donations, such as platelets, are made using an apheresis machine which will be connected to both arms. A whole blood donation takes about 8-10 minutes, during which you’ll be seated comfortably or lying down. When approximately a pint of whole blood has been collected, the donation is complete and a staff person will place a bandage on your arm. For platelets, the apheresis machine will collect a small amount of blood, remove the platelets, and return the rest of the blood through your other arm; this cycle will be repeated several times over about 2 hours.</li>
                <li>After donating blood, you will have a snack and something to drink in the refreshment area. You will leave after 10-15 minutes and continue your normal routine. Enjoy the feeling of accomplishment knowing you are helping to save lives. Take a selfie, or simply share your good deed with friends. It may inspire them to become blood donors.</li>
            </ol>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card border-0">
        <div class="card-title privacy-policy-card">
            benefits<span class="dot">.</span>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body privacy-policy-content">
            <p>According to the Mayo Clinic, one in every 200 people in the U.S. is affected by a condition called hemochromatosis that causes an iron overload. Many of us don't even know we have the condition because symptoms don't show until mid-life and overlap with other common conditions. Committed blood donors regularly eliminate excess iron. The Centers for Disease Control even recommends the removal of red blood cells as the preferred treatment for patients with excess iron in their blood.</p>
            <p>By reducing iron in the blood cells, blood donation can also reduce the risk of heart attacks and strokes. A study published in the Journal of the American Medical Association, found that participants ages 43 to 61 had fewer heart attacks and strokes when they donated blood every six months. In another study by the American Journal of Epidemiology, researchers found, in a sample size of 2,682 men in Finland, those who donated blood at least once a year had an 88 percent lower risk of heart attacks than those who did not donate.</p>
            <p>Iron has also been thought to increase free-radical damage in the body and been linked to an increased risk of cancer and aging. The Miller-Keystone Blood Center says that consistent blood donation associated with lower risks of cancers including liver, lung, colon, and throat cancers due to the reduction in oxidative stress when iron is released from the bloodstream.</p>
            <p>Additionally, in a study published in the Journal of the National Cancer Institute, researchers followed 1,200 people split into groups of two over the course of 4 1/2 years. One group reduced their iron stores via blood donations twice a year, while the second group did not make any changes. The results of the study showed that the group of blood donors had lower iron levels, and a lower risk of cancer and mortality.</p>
            <p>After the holidays, we are all looking for a simple way to kick start our diet. According to the University of California, San Diego, you can burn approximately 650 calories per donation of one pint of blood. However, blood donation should not be thought of as a weight loss plan - just a little extra motivation to give.</p>
            <p>When you donate blood it is tested for syphilis, HIV, hepatitis, and other diseases. The American Red Cross says testing indicates whether or not you are eligible to donate based on what is found in your bloodstream. It also notes that a sample of your blood may be used now or in the future for additional tests and other medical research with your consent.</p>
            <p>While there are several physical benefits to donating blood, the most powerful health benefit is arguably psychological. Donating blood means that someone (or multiple people) somewhere will receive the help they desperately need. The psychological health benefit you receive from knowing you're helping others can be just as helpful as the physical health benefit. When you roll up your sleeve and sit down in that chair, you know you're making a difference - and that makes you feel good.​</p>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card border-0">
        <div class="card-title privacy-policy-card">
            organizing blood campaign<span class="dot">.</span>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body privacy-policy-content">
            <ul class="procedure">
                <li>Pick a convenient location for your blood drive. The room you choose should be <strong>L A R G E</strong>, well ventilated with multiple plug-ins and good lighting.</li>
                <li>Plan all promotional ideas and advertisement at this time. The blood bank has pre-printed posters available to you at no charge.</li>
                <li>Make a list of previous and potential donors.</li>
                <li>Begin your recruitment. There are a variety of ways you can recruit donors. Your planning committee should decide which way is best for you.</li>
                <li>Set up the room for the blood drive. Please have all tables, chairs and wastebaskets set up and ready to go one hour before the blood drive begins.</li>
                <li>Have those volunteers helping with set-up meet at the blood drive location 1 hour before the start time to help unload equipment.</li>
                <li>Have those persons working the reception desk arrive 1/2 hour before the blood drive begins for instructions.</li>
                <li>Have the crew volunteering for clean-up come to the blood drive location at the end of the blood drive.</li>
            </ul>
        </div>
    </div>
</div>