
@{
    ViewBag.Title = "Services";
}

<div>
    <img src="~/images/services.jpg" alt="services.jpg" class="banner" />
</div>
<div class="card-group">
    <div class="card border-0">
        <div class="card-title privacy-policy-card">
            <span class="procedure-title">procedure</span>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body privacy-policy-content">
            <ol class="procedure">
                <li>Donec nec nulla ipsum. Donec posuere ante sit amet commodo commodo. Maecenas at urna vitae leo laoreet elementum. Sed euismod nisi sed turpis scelerisque tincidunt. Nunc convallis, erat ac ullamcorper lobortis, velit quam pulvinar quam, vitae bibendum ex tortor vel dui. Sed sit amet libero ante. Ut sagittis mi ac molestie lobortis.</li>
                <li>Duis scelerisque, sem posuere faucibus volutpat, nunc eros convallis nisl, vitae aliquam justo diam sit amet odio. Nam ut lacus placerat odio consectetur egestas id ac sapien. Suspendisse potenti. Nunc mattis placerat interdum. Suspendisse potenti. Etiam in libero a neque aliquam elementum vel et turpis. Aenean sodales a urna ut iaculis. Mauris varius et purus vel congue. Pellentesque diam ex, tempus eget porttitor quis, convallis ac nisl. Duis non magna et ligula volutpat mattis nec vitae erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce a feugiat orci. Curabitur eu pharetra orci. Mauris sed libero sit amet arcu ullamcorper consequat.</li>
                <li>In tincidunt varius sem in malesuada. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In nec mi at libero lobortis convallis id quis ligula. Curabitur tristique eu est ut consequat. Cras semper, odio quis tincidunt mattis, enim risus ullamcorper diam, ut aliquam risus purus et nunc. Nullam aliquam, sem et hendrerit accumsan, metus purus posuere eros, at laoreet sem odio et tellus. Ut sed ex commodo, eleifend libero vel, pellentesque massa. Aenean in porta nisi, nec scelerisque purus.</li>
            </ol>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card border-0">
        <div class="card-title benefits-card">
            <span class="procedure-title">benefits</span>
        </div>
    </div>
    <div class="card border-0">
        <div class="card-body privacy-policy-content">
            <p>Nullam at felis at mauris fringilla dictum mollis sed nulla. Nunc mattis justo rhoncus ligula blandit consectetur. Ut sit amet augue vestibulum, ultricies lectus vel, vestibulum nisi. Nunc id nisi vitae sapien rutrum molestie. Nulla cursus porttitor velit et dictum. Suspendisse eget quam in enim dapibus finibus ullamcorper quis leo. Donec rutrum tincidunt nisl, a vestibulum nibh luctus et. In eu egestas tellus, at lobortis erat. Nam rutrum blandit mi sit amet tristique. Sed sed eleifend nunc, at posuere quam.</p>
            <p>In hac habitasse platea dictumst. Praesent mattis a nunc vitae molestie. Maecenas sed dolor ut lacus vulputate cursus commodo non libero. Donec velit nibh, tristique eu lectus ut, molestie placerat tellus. Nullam eu ultrices tortor. Maecenas hendrerit scelerisque magna, nec dictum mauris. Etiam vitae tristique libero. Nulla elementum leo vel turpis tincidunt, a pulvinar neque finibus. Etiam tempus vel nulla finibus congue. Mauris fringilla lobortis purus, eu suscipit erat tempor et. Praesent porttitor lacus justo, ac ornare ante vestibulum eu. Curabitur feugiat vel elit eu molestie. In vel neque vitae orci mollis luctus. Curabitur interdum malesuada pulvinar. Fusce dapibus viverra ultricies.</p>
            <p>Aenean quis dictum purus, quis mollis lorem. Nulla non dignissim erat. Nulla faucibus diam sed hendrerit luctus. Duis at luctus mauris. Maecenas sit amet tortor at nunc interdum dignissim a ut augue. Duis egestas risus at condimentum laoreet. Ut eget bibendum tellus, a commodo orci. Sed leo est, facilisis sit amet placerat ac, euismod in nisl. Praesent metus metus, ultricies a fermentum et, interdum eu nulla. Morbi nec mi urna. Fusce diam augue, commodo et lacus sed, sollicitudin pellentesque tellus. Sed sem elit, suscipit ut mauris vitae, consequat consequat leo. Vestibulum vulputate tincidunt laoreet. Mauris iaculis, turpis eget venenatis tempor, justo justo sodales ante, in commodo risus dolor sed lorem. Fusce sit amet risus tristique, gravida ex in, vulputate neque. Curabitur lorem velit, tincidunt eu tristique eu, tincidunt eu nisi.</p>
        </div>
    </div>
</div>